# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env


forge create --rpc-url https://ethereum-sepolia-rpc.publicnode.com --private-key 0x65214bc6e805532b9df04fa154856c30b665ac2e7280fa7b9a45a31ced173116 src/OnchainRiddle.sol:OnchainRiddle